<div class="chart-container">
    <canvas id="world-overview"></canvas>
    <script>
        const country1World = JSON.parse(`<%- JSON.stringify(country1) %>`);
        const country2World = JSON.parse(`<%- JSON.stringify(country2) %>`);

        generateChart("world-overview", "world", country1World, country2World)
    </script>
</div>
<p>View this data for <a href="https://tradingeconomics.com<%= country1.totalWorld?.url%>" target="_blank"><%= country1.name %></a> and <a href="https://tradingeconomics.com<%= country2.totalWorld?.url%>" target="_blank"><%= country2.name %></a> on Trading Economics.</p>