<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Compare Aircraft, Spacecraft Exports</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col col-left">
                            <h1>Compare Aircraft & Spacecraft Exports</h1>
                            <p>Use the form on this page to compare two countries' global aircraft and spacecraft
                                exports.
                            </p>
                        </div>
                        <div class="col col-right">
                            <%- include('./partials/form') %>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <%- include('./partials/world-overview', {country1: country1.totalWorldExports, country2:
                    country2.totalWorldExports}) %>
            </section>
            <section>
                <%- include('./partials/to-each-other', {country1: country1.toEachOtherExports, country2:
                    country2.toEachOtherExports}) %>
            </section>
            <section>
                <h3>
                    <%= country1.name %>
                </h3>
                <%- include('./partials/top-countries', {country: country1.topCountriesExports }) %>
                    <h3>
                        <%= country2.name %>
                    </h3>
                    <%- include('./partials/top-countries', {country: country2.topCountriesExports }) %>
            </section>
        </main>
        <footer></footer>
</body>

</html>